<section class="overflow-hidden bg-gray-50 sm:grid sm:grid-cols-2 sm:items-center">
    <div class="p-10 md:p-12 lg:px-16 lg:py-24">
      <div class="mx-auto max-w-xl ltr:sm:text-left rtl:sm:text-right">
        <h2 class="text-2xl font-bold text-gray-900 md:text-3xl">
          No pierdas más tiempo.
        </h2>
  
        <p class="hidden text-gray-500 md:mt-4 md:block">
            ¡Dedica más tiempo a innovar y menos a tareas administrativas, y observa cómo mejora la satisfacción y el rendimiento de toda tu comunidad educativa! Con ScheduleMaster, podrás gestionar horarios, clases y recursos de manera eficiente, permitiendo a tus estudiantes y profesores aprovechar al máximo su tiempo. 
        </p>
  
        
      </div>
    </div>
  
    <img
      alt=""
      src="/img/students-head-to-class.jpg"
      class="h-full w-full object-cover sm:h-[calc(100%_-_2rem)] sm:self-end sm:rounded-ss-[30px] md:h-[calc(100%_-_4rem)] md:rounded-ss-[60px]"
    />
  </section>